@import './additional_styles/varibles';

.paragraph--type--main-banner {
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
    background-color: $gray;
    margin-bottom: 50px;

    .containter {
        padding: 0 20px;
        max-width: $breakpoint-max;
        margin: 0 auto;

        p {
            max-width: 506px;
            padding: 32px 0 24px;
            text-align: center;
            margin: 0 auto;
        }

        .field--name-field-main-link-button {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-bottom: 50px;

            a {
                width: 100%;
            }
        }

        .field--name-field-main-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .field--name-field-mobile-image {
            display: none;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .paragraph--type--main-banner {
        padding-top: 20px;
        .containter {
            .field--name-field-main-image {
                display: none;
            }

            p {
                padding: 20px 0;
            }

            .field--name-field-mobile-image {
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}