@import './additional_styles/UI/buttons/button-product-add-to-cart';

.product-wrapper {
  margin-top: 10px;
  p {
    line-height: 20px;
  }
  .product_heading {
    h2 {
      padding-left: 10px;
      text-align: left;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }
    margin-bottom: 20px;
  }

  .product-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

    .product__images {
      max-width: 788px;
      cursor: pointer;

      .slider-for {
        .product--variation-field--variation_field_image__8 {
          .slick-list {
            .slick-track {
              .slick-slide {
                margin-bottom: 20px;
                div {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }

      .slider-nav {
        .product--variation-field--variation_field_image__8 {

          .slick-list {
            .slick-slide {
              margin: 0 10px;
              div {
                width: 100%;

                img {
                  width: 100%;
                  height: auto;

                }
              }
            }
          }
        }
      }
    }

    .product {
      width: 438px;
      height: 400px;

      .description-top {
        display: flex;
        border-bottom: solid 1px $brown;
        padding-bottom: 20px;
        margin-bottom: 15px;

        .product-price {
          font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #842C68;
        }

        .field--name-body {
          width: 100%;
          padding-right: 20px;
          text-align: justify;
        }

        .product--variation-field--variation_price__8 {
          width: max-content;
          text-align: center;
        }
      }

      .description-middle {
        border-bottom: solid 1px $brown;
        margin-bottom: 15px;
        padding-bottom: 30px;

        legend {
          margin-bottom: 10px;
        }

        // .form-radios {
        //   .option {

        //   }
        // }



        .js-form-type-radio {
          padding-bottom: 15px;
          .field--type-string {
            display: none;
          }
          .color_field__swatch {
            border-radius: 50%;
            border: solid 1px gray;
            height: 20px !important;
            width: 20px !important;
            cursor: pointer;
          }
        }

        .form-type-number {
          input {
            border: solid 1px gray;
            width: 60px;
            height: 40px;
            text-align: center;
          }
        }
      }

      .description-bottom {

        .field--name-field-tabs {
          .tabs {
            .tabs__buttons {
              display: flex;
              justify-content: space-between;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;

              .field-tab__item {
                padding: 15px 0;
                width: 30%;
                text-align: center;
                cursor: pointer;
                transition: all ease-in-out .3s;
              }

              .field-tab__item_active {
                background-color: $brown;
              }
            }

            .field--type-text-long {


              .field-content__item {
                transition: all ease-in-out .5s;
                position: absolute;
                max-width: 438px;
                padding-bottom: 20px;
                border-bottom: solid 1px $brown;
                opacity: 0;
              }

              .field-content__item_active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .product__similar-products {

    .similar-products__items {
      display: flex;

      .similar-products__item {

        .field__items {
          img {
            width: 400px;
            height: 440px;
          }
        }
      }
    }
  }
}