@import './additional_styles/UI/buttons/button-product-add-to-cart';

.product-wrapper {
  margin-top: 10px;
  padding: 0 20px;

  p {
    line-height: 20px;
  }

  .product_heading {
    h2 {
      padding-left: 10px;
      text-align: left;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }

    margin-bottom: 20px;
  }

  .product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;

    .product__images {
      max-width:  60%;
      cursor: pointer;

      .slider-for {
        .product--variation-field--variation_field_image__8 {
          .slick-list {
            .slick-track {
              .slick-slide {
                margin-bottom: 20px;

                div {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }

      .slider-nav {
        .product--variation-field--variation_field_image__8 {

          .slick-list {
            .slick-slide {
              margin: 0 10px;

              div {
                width: 100%;

                img {
                  width: 100%;
                  height: auto;

                }
              }
            }
          }
        }
      }
    }

    .product {
      min-width: 30px;
      height: 400px;
      margin-left: 10px;

      .description-top {
        display: flex;
        border-bottom: solid 1px $brown;
        padding-bottom: 20px;
        margin-bottom: 15px;

        .product-price {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: #842C68;
        }

        .field--name-body {
          width: 100%;
          padding-right: 20px;
          text-align: justify;
        }

        .product--variation-field--variation_price__8 {
          width: max-content;
          text-align: center;
        }
      }

      .description-middle {
        border-bottom: solid 1px $brown;
        margin-bottom: 15px;
        padding-bottom: 30px;

        legend {
          margin-bottom: 10px;
        }

        // .form-radios {
        //   .option {

        //   }
        // }

        .js-form-type-radio {
          padding-bottom: 15px;

          // .field--type-string {
          //   // display: none;
          // }

          .color_field__swatch {
            border-radius: 50%;
            border: solid 1px gray;
            height: 20px !important;
            width: 20px !important;
            cursor: pointer;
          }
        }

        .form-type-number {
          input {
            border: solid 1px gray;
            width: 60px;
            height: 40px;
            text-align: center;
          }
        }
      }

      .description-bottom {

        .field--name-field-tabs {
          .tabs {
            .tabs__buttons {
              display: flex;
              justify-content: space-between;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;

              .field-tab__item {
                padding: 15px 0;
                width: 30%;
                text-align: center;
                cursor: pointer;
                transition: all ease-in-out .3s;
              }

              .field-tab__item_active {
                background-color: $brown;
              }
            }

            .field--type-text-long {

              .field-content__item {
                transition: all ease-in-out .5s;
                position: absolute;
                max-width: 438px;
                min-width: 300px;
                padding-bottom: 20px;
                border-bottom: solid 1px $brown;
                opacity: 0;
              }

              .field-content__item_active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .product__similar-products {
    margin-bottom: 100px;

    .similar-products__label {
      text-align: center;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-transform: capitalize;
      color: $dark;
      margin-bottom: 58px;
    }

    .similar-products__items {
      display: flex;

      .similar-products__item {
        padding: 0 10px;

        img {
          max-width: 400px;
          height: 440px;
          width: 100%;
          object-fit: cover;
        }

        .field--name-title {
          margin: 25px 0;
          font-weight: 700;
          font-size: 20px;
          text-transform: capitalize;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {

  .product-wrapper {
    .product-content {
      .field-tab__item {
        width: 33% !important;
      }
      flex-direction: column;

      .product__images {
        max-width:  100% !important;
        margin-bottom: 15px!important;
      }

      .field-content__item {
        max-width: 100% !important;
        padding-right: 20px;


      }
    }

    .product__similar-products {x

      .similar-products__label {
        font-size: 32px !important;
        margin: 70px 0 20px !important;
      }

      margin-bottom: 30px !important;

      .similar-products__items {
        flex-direction: column;

        .similar-products__item {
          margin-bottom: 15px;

          p {
            width: 100% !important;
          }

          img {
            max-width: 100% !important;
            height: 240px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-md) {
  .product-wrapper {
    .product__similar-products {
      .similar-products__label {
        margin: 90px 0 20px !important;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .product-wrapper {
    .product__similar-products {
      .similar-products__label {
        margin: 160px 0 20px !important;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .product-wrapper {
    .product__similar-products {
      .similar-products__label {
        margin: 220px 0 20px !important;
      }
    }
  }
}