@import './additional_styles/UI/buttons/button-product-add-to-cart';

.product-wrapper {
  margin-top: 10px;
  padding: 0 20px;

  .product--rendered-attribute__selected {
    // display: block !important;
  }
  .product--rendered-attribute__selected ~ .field--name-name {
    opacity: 1;
  }

  .slick-arrow {
    display: none !important;
  }

  img {
    object-fit: cover;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 27px -17px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 27px -17px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 27px -17px rgba(66, 68, 90, 1);
  }

  p {
    line-height: 20px;
  }

  .product_heading {

    .starrating {
      display: flex;
      padding: 10px;
      .rate-image {
        float: none;
        transform: scale(1.2);
        margin-right: 2px;
      }
    }
    h2 {
      padding-left: 10px;
      text-align: left;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }

    margin-bottom: 20px;
  }

  .product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;

    .product__images {
      max-width:  60%;
      cursor: pointer;

      .slider-for {
        .product--variation-field--variation_field_image__8 {
          .slick-list {
            .slick-track {
              .slick-slide {
                margin-bottom: 20px;

                div {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }

      .slider-nav {
        .product--variation-field--variation_field_image__8 {

          .slick-list {
            .slick-slide {
              margin: 0 10px;

              div {
                width: 100%;

                img {
                  width: 145px;
                  height: 159px;

                }
              }
            }
          }
        }
      }
    }

    .product {
      min-width: 30px;
      height: 400px;
      margin-left: 10px;

      .description-top {
        display: flex;
        border-bottom: solid 1px $brown;
        padding-bottom: 20px;
        margin-bottom: 15px;

        .product-price {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: #842C68;
        }

        .field--name-body {
          width: 100%;
          padding-right: 20px;
          text-align: justify;
        }

        .product--variation-field--variation_price__8 {
          width: max-content;
          text-align: center;
        }
      }

      .description-middle {
        border-bottom: solid 1px $brown;
        margin-bottom: 15px;
        padding-bottom: 30px;
        position: relative;

        .ajax-progress {
          display: none;
        }

        .product--rendered-attribute {
          margin-top: 30px;
          legend {
            display: none;
          }
        }

        .js-form-type-number {
          font-size: 18px;
          text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

          label {
            font-size: 18px;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
            &:after {
              content: ':';
            }
          }
        }

        .form-radios {
          label {
            // border: none;
          }
        }

        .js-form-type-radio {
          padding-bottom: 15px;
          height: 100px;

          .field--name-name {
            position: absolute;
            left: 0;
            font-size: 18px;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
            opacity: 1;

            // sadasda


          }

          .color_field__swatch {
            border-radius: 50%;
            margin-top: 40px;
            border: solid 1px gray;
            height: 20px !important;
            width: 20px !important;
            cursor: pointer;
          }
        }

        .form-type-number {
          input {
            border: solid 1px gray;
            border-radius: 2px;
            width: 60px;
            height: 40px;
            text-align: center;
          }
        }
      }

      .description-bottom {

        .field--name-field-tabs {
          .tabs {
            .tabs__buttons {
              display: flex;
              justify-content: space-between;
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;

              .field-tab__item {
                padding: 15px 0;
                width: 30%;
                text-align: center;
                cursor: pointer;
                transition: all ease-in-out .3s;
                border-radius: 3px;
              }

              .field-tab__item_active {
                background-color: $gray;
              }
            }

            .field--type-text-long {

              .field-content__item {
                transition: all ease-in-out .5s;
                position: absolute;
                max-width: 438px;
                min-width: 300px;
                padding-bottom: 20px;
                border-bottom: solid 1px $brown;
                opacity: 0;
              }

              .field-content__item_active {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .product__similar-products {
    margin: 120px 0 100px;

    h4 {
      text-align: left;
    }

    .title-wraper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px   5px;

      p {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: right;
      text-transform: capitalize;
      color: $violet;
      padding: 0 5px;
      }
    }

    .similar-products__label {
      text-align: center;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-transform: capitalize;
      color: $dark;
      margin-bottom: 58px;
    }

    .similar-products__items {
      display: flex;

      .similar-products__item {
        padding: 0 10px;

        img {
          max-width: 400px;
          height: 440px;
          width: 100%;
        }

        .field--name-title {
          margin: 25px 0;
          font-weight: 700;
          font-size: 20px;
          text-transform: capitalize;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {

  .product-wrapper {
    .product-content {
      .field-tab__item {
        width: 33% !important;
      }
      flex-direction: column;

      .product__images {
        max-width:  100% !important;
        margin-bottom: 15px!important;
      }

      .field-content__item {
        max-width: 100% !important;
        padding-right: 20px;
      }
    }

    .product__similar-products {
      margin-top: 100px;

      .similar-products__label {
        font-size: 32px !important;
        margin: 70px 0 20px !important;
      }

      margin-bottom: 30px !important;

      .similar-products__items {
        flex-direction: column;

        .similar-products__item {
          margin-bottom: 15px;

          p {
            width: 100% !important;
          }

          img {
            max-width: 100% !important;
            height: 240px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-md) {
  .product-wrapper {
    .product__similar-products {
      .similar-products__label {
        margin: 90px 0 20px !important;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .product-wrapper {
    .product__similar-products {
      .similar-products__label {
        margin: 160px 0 20px !important;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .product-wrapper {
    .product__similar-products {
      margin-top: 250px;
      .similar-products__label {
        margin: 220px 0 20px !important;
      }
    }
  }
}