@import './additional_styles/reset.scss';
@import './additional_styles/varibles';
@import './additional_styles/mixin';


@import './blocks/footer';
@import './blocks/header';

@import './additional_styles/UI/links/links-header-nav';
@import './additional_styles/UI/links/links-footer-nav';

@font-face {
  font-family: 'Roboto';
  src: url("../src/fonts/Roboto-Bold.woff2") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url("../src/fonts/Roboto-BoldItalic.woff2") format("truetype");
  font-style: italic;
  font-weight: bold;
}
* {
  font-family: 'Roboto', sans-serif;
}
.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.container {
  max-width: $breakpoint-max;
  margin: 0 auto;
}
