@import './additional_styles/routes-styles';

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.container {
  max-width: $breakpoint-max;
  margin: 0 auto;
}

.field__item {
  width: 100%;
}


