
@import './additional_styles/reset.scss';
@import './additional_styles/varibles';
@import './additional_styles/mixin';


@import './blocks/footer';

@import './additional_styles/UI/links/footer';

* {
  font-family: 'Roboto', sans-serif;
}
.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
