.widget-features-component {
    background-color: $gray;
    padding: 0 20px;

    h2 {
        text-align: left;
        padding: 32px 0 42px;
    }

    .wrapper {
        max-width: $breakpoint-max;
        margin: 0 auto;

        .wrapper-content {
            display: flex;
            justify-content: space-between;
            padding-bottom: 42px;

            .wrapper-image {
                width: 50%;

                img {
                    width: 100%;
                    min-width: 500px;
                    height: auto;
                }
            }

            .wrapper-description {
                max-width: 535px;
                margin-left: 40px;

                h4 {
                    text-align: left;
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 42px;
                }

                .field--name-field-text {
                    margin-bottom: 48px;
                }
                ul {
                    margin-bottom: 50px;
                    li {
                        list-style: disc;
                        margin: 0 0 24px 20px;

                        &:before {
                            content: "";
                            border: 5px #000 solid !important;
                            border-radius: 50px;
                            margin-top: 3px;
                            margin-left: -20px;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .widget-features-component {
        .wrapper {
            h2 {
                text-align: center;
            }
            .wrapper-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 42px;
                .wrapper-image {
                    width: 100%;

                    img {
                        min-width: 100px;
                    }
                }
                .wrapper-description  {
                    padding-top: 30px;
                    max-width: 100%;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    h4 {
                        text-align: center;
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 26px;
                        line-height: 40px;
                        text-align: center;
                    }
                    ul {
                        li {
                            &:before {
                                content: "";
                                border: 5px #000 solid !important;
                                border-radius: 50px;
                                margin-top: 5px;
                                margin-left: -22px;
                                position: absolute;
                            }
                        }
                    }
                    ul > li {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .widget-features-component {
        .wrapper {
            .wrapper-content {
                .wrapper-description  {
                    p {
                        font-size: 22px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}