.widget-additional-banner {
    background-color: $gray;
    width: 100%;
    height: 545px;
    margin-bottom: 200px;

    .wrapper {
        max-width: $breakpoint-max;
        padding: 0 20px;
        margin: 0 auto;
        margin-bottom: 45px;
        position: relative;


        .field--name-field-image {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            position: absolute;
            text-align: center;
            top: 20px;
            right: 254px;
            max-width: 500px;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .widget-additional-banner {
        background-color: $gray;
        width: 100%;
        height: 545px;
        margin-bottom: 200px;


        .wrapper {
            max-width: $breakpoint-max;
            padding: 0 20px;
            margin: 0 auto;
            margin-bottom: 45px;
            position: relative;


            .field--name-field-image {
                width: 100%;
            }

            p {
                line-height: 32px;
                left: 65px;
                max-width: 80%;
                width: fit-content;
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .widget-additional-banner {


        .wrapper {

            p {
                line-height: 32px;
                left: 45px;
                max-width: 80%;
                width: fit-content;
                font-size: 18px;
            }
        }
    }
}

