.paragraph--type--main-banner {
    .field--name-field-main-link-button {

      background-color: $violet;
      width: 240px;
      height: 60px;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      color: $white;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      box-shadow: 0px 4px 4px 0px #00000040;

      &:hover {
        background-color: darken($color: $violet, $amount: 7%);
      }
      a {
        color: $white;
        font-size: 24px;
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

        &::after {
        content: "";
          display: block;
          width: 20px;
          height: 200px;
          margin-left: 50px;
          background: #fff;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), color-stop(50%, white), to(rgba(255, 255, 255, 0.5)));
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, white 50%, rgba(255, 255, 255, 0.5) 100%);
          left: -40px;
          top: -100px;
          z-index: 1;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          position: absolute;
          -webkit-animation: movingFlare 3s ease-in-out 0.05s infinite;
          animation: movingFlare 3s ease-in-out 0.05s infinite;
        }
      }
    }
  }

  @-webkit-keyframes movingFlare {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes movingFlare {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }