.password {
    .block-system-main-block {
        .button {
            width: 240px;
            height: 60px;
            color: $gold;
            box-shadow: 0 0 40px 40px $violet inset, 0 0 0 0 $violet;
            transition: all 150ms ease-in-out;

            &:hover {
                box-shadow: 0 0 3px 0 $violet inset, 0 0 3px 4px $violet;
                color: $violet;
                font-weight: bold;
                background-color: $gold;
            }
        }
    }
}