
header {
  background: $dark;
  width: 100%;

  .region-header {
    margin: 0 auto;
    padding: 0 15px;
    height: 64px;
    display: grid;
    grid-template-columns: 195px minmax(400px, 920px) 54px 54px 54px;
    align-content: center;
    max-width: $breakpoint-max;
    align-items: center;

    .main-menu {
      max-width: 850px;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;

      .main-menu__item a {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0;
        text-align: left;
        color: $white;
        text-transform: uppercase;
      }
    }

    .header-cart a {
      position: relative;
      display: flex;
      color: $white;
      font-size: 18px;
      justify-content: flex-start;

      .header-cart__count {
        position: absolute;
        top: -10px;
        right: 25px;
        font-size: 14px;
        color: $white;
      }
    }

    .header-account a {
      display: flex;
      color: $white;
      justify-content: center;
      font-size: 18px;
    }

    .header-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: end;

      i {
        font-size: 25px;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  header {
    .region-header {
      grid-template-columns: 195px 1fr 70px 70px 70px 70px;

      .burger-menu {
        margin: 0 auto;
      }

      .burger-menu.active {
        margin: 0 auto;
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;

        .burger-menu__two {
          width: 80%;
          height: 2px;
          background-color: $white;
          margin: 2px;
        }

        .burger-menu__one {
          width: 60%;
          position: relative;
          height: 3px;
          bottom: -5px;
          left: 5px;
          transform: rotate(40deg);
        }

        .burger-menu__two {
          width: 100%;
        }

        .burger-menu__three {
          width: 60%;
          position: relative;
          bottom: 5px;
          height: 3px;
          left: 5px;
          transform: rotate(-40deg);
        }
      }

      .header-cart a,
      .header-search {
        justify-content: center;
        text-align: center;
      }

      .main-menu {
        position: fixed;
        top: 65px;
        right: -1000px;
        height: 220px;
        background-color: $dark;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 5px 10px 5px 20px;
        z-index: 9;
        transition: all .5s ease-in-out;
      }

      .main-menu.active {
        right: 1px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  header {
    .region-header {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      #block-sitebranding-2 {
        width: 55px;
        overflow: hidden;
        display: block;
      }
    }
  }
}