header{
    background: $dark;
    width: 100%;

    .region-header{
      margin: 0 auto;
      padding: 0 15px;
      height: 64px;
      display: grid;
      grid-template-columns: 195px minmax(400px,920px) 54px 54px 54px;
      align-content: center;
      max-width: $breakpoint-max;
      align-items: center;

      .main-menu{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        .main-menu__item a{
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0;
          text-align: left;
          color: $white;
          text-transform: uppercase;
        }
      }
      .header-cart a{
        position: relative;
        display: flex;
        color: $white;
        font-size: 18px;
        justify-content: flex-start;
        .header-cart__count{
          position: absolute;
          top: -10px;
          right: 25px;
          font-size: 14px;
          color: $white;
        }
      }
      .header-account a{
        display: flex;
        color: $white;
        justify-content: center;
        font-size: 18px;
      }
      .header-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i{
        font-size: 25px;
        color: $white;
        }
      }
    }
  }