#block-tabs {
    .tabs {
        .primary {
            margin-bottom: 15px;
            display: flex;

            li {
                margin: 0 10px;
                border-radius: 5px;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(3px);
                background-color: rgba(255, 255, 255, 0.5);
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                transition: all ease-in-out .3s;

                &:hover {
                    background-color: darken($color: rgba(255, 255, 255, 0.5), $amount: 30%);
                }

                a {
                    color: $dark;
                    padding: 10px 25px;
                    display: block;
                }
            }

            .is-active {
                display: none;
            }
        }
    }
}