/* colors */

$blue:      #0000ff;
$violet:    #842c68;
$blue:      #007bff;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #dc3545;
$orange:    #f39a51;
$gold:      #ffd700;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;
$white:     #ffffff;
$gray:      #f2f2f2;
$gray-dark: #343a40;
$primary:   #007bff;
$secondary: #6c757d;
$brown:     #c4c4c4;
$success:   #28a745;
$info:      #17a2b8;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #000000;

/* brakepoints */
$breakpoint-sm:  576px;
$breakpoint-md:  768px;
$breakpoint-lg:  992px;
$breakpoint-max: 1280px;

/* external images for background */
/* login page */
$login-page: url('https://pbs.twimg.com/media/FBln8k-XoAI-pm4.jpg');

/* Simple slider bedroom */

$bedroom-slider: url('https://th.bing.com/th/id/R.0fbbb29a6b20fef8246df1a7dbf20905?rik=ev7NSgJpUDezJA&riu=http%3a%2f%2fcfile207.uf.daum.net%2fimage%2f215DD64858AEB9970DB156&ehk=3PhfXIF61sxJFd4WO%2fGH9XWXKo2taLyE2ehNuieqFgA%3d&risl=&pid=ImgRaw&r=0');