.additional-banner-wrap {
    background-color: $gray;
    width: 100%;
    height: 545px;
    margin-bottom: 200px;

    .container {
        padding: 0 20px;
        position: relative;

        .field--name-field-main-image {
            img {
                width: 100%;
                height: 602px;
                object-fit: cover;
            }
        }

        .text-formatted {
            .field__item {
                p {
                    position: absolute;
                    top: 28px;
                    padding: 0 150px;
                    color: $gray;
                    text-align: center;

                }
            }
        }

        h2 {
            margin-top: 50px;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .additional-banner-wrap {
        .container {
            .field__item {
                p {
                    padding: 0 150px !important;

                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .additional-banner-wrap {
        .container {
            .field__item {
                p {
                    padding: 0 60px !important;

                }
            }
        }
    }
}

