.paragraph--type--double-signpost {
    background-color: $gray;
    padding-top: 30px;
    margin: 0 auto;

    div,p,img {
        transition: all ease-in-out .3s;
    }

    .container {
        padding: 0 20px;
        .double-signpost {
            display: flex;

            h3 {
                text-align: left;
            }

            .content_short-desc {
                color: $red;
            }

            a {
                font-size: 18px;
                bottom: 10px;
                font-size: 18px;
                position: absolute;
            }
        }

        .left-row {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .field--name-field-fg-img-1 {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            margin-right: 20px;
            max-width: 600px;

            .left-row_content {
                background-color: $white;
                max-width: 90%;
                height: 100%;
                padding: 20px 25px;
                text-align: justify;
                position: relative;
                padding-bottom: 40px;
                top: -80px;
            }

            &:hover {

                .field--name-field-fg-img-1 {

                    img {
                        transform: scale(1.03);
                    }
                }
            }
        }

        .right-row {
            margin-left: 20px;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            .field--name-field-fg-img-2 {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .right-row_content {
                background-color: $white;
                max-width: 90%;
                height: 100%;
                padding: 20px 25px;
                text-align: justify;
                position: relative;
                padding-bottom: 40px;
                top: -80px;
            }

            &:hover {

                .field--name-field-fg-img-2 {
                    img {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .paragraph--type--double-signpost {

        .container {
            .double-signpost {
                flex-direction: column;

                .left-row, .right-row {
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .paragraph--type--double-signpost {
        .container {
            .left-row {
                .left-row_content {
                    top: -40px;
                }
            }

            .right-row {
                .right-row_content {
                    top: -40px;
                }
            }
        }
    }
}
