.paragraph--type--main-banner {
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
    background-color: $gray;
    margin-bottom: 50px;

    .containter {
        padding: 0 20px;
        max-width: $breakpoint-max;
        margin: 0 auto;

        p {
            max-width: 506px;
            padding: 32px 0 24px;
            text-align: center;
            margin: 0 auto;
        }

        .field--name-field-main-link-button {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-bottom: 50px;

            a {
                width: 100%;
            }
        }

        .field--name-field-main-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

}