.paragraph--type--promo {
    margin-bottom: 50px;

    .wrapper {
        display: flex;
        padding: 0 20px;

        a {
            font-size: 0;
            width: 65%;
            display: block;

            .field--name-field-promo-img {
                transition: all ease .4s;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        .wrapper_text {
            width: 35%;
            background-color: $brown;

            .wrapper_text__title {
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                height: 50%;
                margin: 5px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                text-transform: uppercase;
                color: $dark;
            }

            .wrapper_text__description {
                text-align: center;
                height: 50%;
                margin: 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                color: $violet;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

@media screen and (max-width: $breakpoint-lg){
    .paragraph--type--promo {
        .wrapper {
            flex-direction: column;

            a {
                width: 100%;
                background: none;
            }

            .wrapper_text {
                width: 100%;
                padding: 30px 0;

                .wrapper_text__title {
                    display: block;
                }
            }
        }
    }
}