.view-blog-page-list {
    padding: 20px;

    h1,h2,h3,h4 {
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    .views-row {
        border-radius: 10px;
        margin-bottom: 25px;
        padding: 30px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $brown;
        background-image: linear-gradient(
            $info, $gold);

        .blog-container-item {

            .title {
                margin-bottom: 20px;
            }

            .content-wrap {
                display: flex;

                .blog_left-block {
                    width: 60%;
                    padding: 0 35px 0 20px;
                    text-align: justify;

                    .left-block_view-node {
                        padding: 20px 0;
                    }

                    a {
                        color: $violet;
                        transition: all ease-in-out .3s;
                        font-weight: 700;
                        text-decoration: underline;

                        &:hover {
                            color: lighten($color: $violet, $amount: 20%);
                            text-decoration: none;
                        }
                    }
                }

                .blog_right-block {
                    width: 40%;

                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        border-radius: 10px;
                        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    }
                }
            }
        }

        .views-field-revision-timestamp {
            padding: 20px 0 0 20px;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
    }

    .views-row.first-row {
        background-image: linear-gradient($gold, $info) !important;

        .content-wrap {
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .view-blog-page-list {

        img {
            margin-bottom: 20px;
        }
        .views-row.first-row {
            .content-wrap {
                flex-direction: column-reverse;

                .left-block_view-node {
                    a {
                        color: $gold!important;
                    }
                }
            }
        }

        .content-wrap {
            flex-direction: column-reverse;


            .blog_left-block {
                width: 100% !important;

                .left-block_view-node {
                    a {
                        color: $info !important;
                    }
                }

            }

            .blog_right-block {
                width: 100% !important;
            }
        }
        .views-field-revision-timestamp {
            span {
                padding: 20px 30px 0;
                text-align: end;
                display: block;
            }
        }
    }
}