.field--name-field-new-in-store {
    padding: 0 20px;
    margin-bottom: 100px;

    .views-element-container{
        h2 {
            margin-bottom: 52px;
        }
    }

    .views-row {
        max-width: 400px;

        img {
            width: 100%;
            height: 442px;
            object-fit: cover;
        }
    }

    .view-content {
        overflow: auto;
        margin: 0 auto;
        max-width: $breakpoint-max;
        display: grid;
        grid-template-columns: minmax(290px,400px) minmax(290px,400px) minmax(290px,400px);
        justify-items: center;
        gap: 26.6px;

        .views-field-title {
            margin-top: 24px;


            .field-content {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 33px;
                text-transform: capitalize;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 290px;
            }
        }

        .field-content {
            margin-bottom: 30px;
            p {
                height: 80px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                text-transform: capitalize;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .field--name-field-new-in-store {
        margin-bottom: 45px;
    }
}