{%
  set classes = [
  'footer',
  'container',
  'region',
  'region-' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
    <div class="footer__privacy">
      <div>2010 - {{ post.published_at|date("Y") }}</div>
      <div><a target="_blank" href="https://trust-technique.com/privacy-policy/?gc_id=16599186704&utm_source=google&utm_medium=&utm_id=16599186704&utm_content=&utm_term=&creativeId=&gclid=Cj0KCQjw4PKTBhD8ARIsAHChzRL8WKVsLbN7av3jv8XCQlEYztvImAMfLcCkLXy8tmHUkqzOp-c_4-oaAqDEEALw_wcB&gclid=Cj0KCQjw4PKTBhD8ARIsAHChzRL8WKVsLbN7av3jv8XCQlEYztvImAMfLcCkLXy8tmHUkqzOp-c_4-oaAqDEEALw_wcB">{{ 'Privacy — Terms'|t }}</a></div>
    </div>
  </div>
  <div>
{% endif %}
