.node-blog_wrapper {

    h2,
    h3,
    h4 {
        text-align: left;
        margin: 25px 0 25px;
        line-height: 55px;
    }
    h5 {
        text-align: left;
    }

    h1 {
        text-align: center;
        margin: 20px 0 55px;
        line-height: 70px;
    }

    a {
        transition: all ease-in-out .3s;
        font-weight: 600;
            font-size: 16px;
        &:hover {
            color: $violet;
        }
    }

    li {
        @include adaptiv-font(16, 14);
        font-weight: 400;
        line-height: 25px;
        padding: 5px 0;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    padding: 0 20px;
    margin-bottom: 50px;
    ul {
        list-style: none;
        li {
            margin-bottom: 10px;
            line-height: 25px;
        }
    }

    ul li::before {
        content: "";
        background-image: $li-style;
        background-size: contain;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        top: 2px;
        margin-right: 15px;
    }

    .content {
        .field--name-field-image {
            img {
                object-fit: cover;
                width: 100%;
                height: 400px;
                margin-bottom: 20px;
            }
        }
    }
    .created {
        text-align: end;

        .node__submitted {
            font-style: italic;

            .field--name-uid {
                font-weight: 700;
                font-style: normal;
                text-decoration: underline;
            }

            .field--name-created {
                font-style: normal;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-md) {

    .node-blog_wrapper {
        h1,h2,h3,h4 {
            margin: 0!important;
            line-height: 40px!important;
        }

        li {
            margin: 0!important;
        }

        img {
            margin: 20px 0;
        }
    }
}