<div class="custom">
    <div class="custom_header">
        <h1>My first custom block</h1>
    </div>
    <div class="custom_content">
        <h4>Created by: <span style="font-style:italic;font-weight:bold;">admin</span></h4>
        <h4>Date: <span style="font-style:italic;font-weight:bold;">26.05.2022</span></h4>
        <h4>Description: <span style="font-style:italic;font-weight:bold;">first block</span></h4>
    </div>
</div>