.field--name-field-new-in-store {
    a {
        color: $dark;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-decoration: underline;
        background: none;


        &:hover {
            text-decoration: none;
        }
    }
}