.footer {
    .menu--footer-menu-left, .menu--footer-menu-right {
        .menu {
            margin: 0 22px;
            .menu-item {
                background-image: linear-gradient( to right, $orange, $orange 50%, $white 50% );
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                position: relative;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-position: 0;
                }

                &:hover::before {
                    width:100%;
                }
            }
        }
    }
}