.paragraph--type--double-signpost {
    .container {
        .double-signpost {
            margin: 0 22px;
            a {
                background-image: linear-gradient( to right, $orange, $orange 50%, $dark 50% );
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                padding: 5px 0;
                position: relative;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;

                &:before {
                    content: '';
                    background: $orange;
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-position: 0;
                }

                &:hover::before {
                    width:100%;
                }
            }
        }
    }
}


